.app-add-form {
  margin-top: 30px;
  padding: 20px;
  background-color: #3d5a80;
  border-radius: 4px;
  box-shadow: 15px 15px 30px rgba(0,0,0, .15);
  color: #fff;
  display: flex;
  justify-content: space-around;
}

.app-add-form h3{
  font-size: 22px;
  padding-top: 24px;
}
.add-form {
  margin-top: 20px;
}

.add-form input {
  width: 250px;
  margin-right: 20px;
}